@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700;1,800;1,900&display=swap');

:root {
    --background:#0D0D0D;;
    --secondbackground:#1f1f1f;
    --text:#fff;
    --secondarytext:#76b900;
    --thirdtext: #9bd23d;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondbackground);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    margin-top: 100px;
}

.form__title{
    color: var(--text);
    font-size: 18px;
    font-weight: 600;
}

.form__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 5px;
    height: 70px;
}

.label {
    font-size: 15px;
}

.form--input {
    background-color: var(--background);
    color: var(--text);
    padding: 5px;
    outline: unset;
    /* border: 1px solid var(--text); */
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.error.form--input {
    border: 1px solid red ;
}

.small {
    color: red;
    text-align: center;
    /* padding: 5px; */
    font-size: 10px;
}

.form--btn {
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.form--btn:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.3s ease;
}